/* body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  text-align: center;
  padding: 40px;
}

form {
  background: white;
  padding: 20px;
  width: 300px;
  margin: auto;
  border-radius: 8px;
}

input, textarea, button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

button {
  background: #ff6f61;
  color: white;
  border: none;
  cursor: pointer;
} */
body {
  background-color: #f5f7fa;
  font-family: 'Segoe UI', sans-serif;
}

.hero-section {
  background: linear-gradient(to right, #0d6efd, #0a58ca);
  padding: 80px 20px;
}

.hero-section h1 {
  font-size: 2.5rem;
}

.card {
  border-radius: 12px;
}

footer {
  font-size: 14px;
}
